/* Base styles that apply to mobile and up */
html {
  display: block;
}

body {
  margin: auto;
  padding: 0 20px;
  font-size: 18px; /* Start with a smaller base font size for mobile */
  line-height: 1.6;
  font-family: 'Merriweather', serif;
  background-color: #f6f5ed;
  color: #484848;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: hidden;
}

article {
  clear: both;
  display: block;
}

a {
  color: #5e15cb;
  text-decoration: none;
}

header {
  margin-top: 30px;
  margin-bottom: 20px;
}

.avatar {
  display: block;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-left: 5px;
  border-radius: 50%;
  aspect-ratio: auto 90 / 100;
  width: 95px;
  height: 90px;
  border: 2px solid #333;
}

h1 {
  font-size: 2.875rem; /* 46px scaled down for mobile */
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 1.75rem; /* 28px scaled down for mobile */
  font-weight: normal;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
}

p.header {
  margin-top: 20px;
  margin-bottom: 70px;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-top: 8px;
}

/* Media query for larger screens */
@media (min-width: 600px) {
  body {
    padding: 0 20px; /* Adjust padding as needed */
    font-size: 18px; /* Back to original font size */
    max-width: 800px; /* Max width as in the original design */
  }

  h1 {
    font-size: 46px; /* Original font size */
  }

  h2 {
    font-size: 28px; /* Original font size */
  }

  /* Ensure article width matches body width */
  article, p.header {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  .avatar {
    width: 95px; /* Reset to original width if changed for mobile */
    height: 90px; /* Reset to original height if changed for mobile */
  }
}

/* Consider adding more breakpoints as needed for tablet and desktop sizes */