/* Global Styles */
body {
  font-family: 'Merriweather', serif;
  background-color: #171616;
  color: #d7d5d5;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

header h1 {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 2.450rem;
  line-height: 2.625rem;
}

.avatar {
  border-radius: 50%;
  width: 130px;
  height: 120px;
  border: 3px solid #333;
  display: block;
  margin: 0 auto 20px;
}

p.header {
  text-align: center;
  font-size: 18px;
}

/* Adjustments for article content */
article {
  font-size: 18px;
  line-height: 1.6;
}

article h3 {
  font-family: 'Merriweather', serif;
  margin-top: 40px;
  /* Same as h2's margin-top */
  margin-bottom: 1px;
  /* Same as h2's margin-bottom */
}

/* Images within articles */
article img {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Styles for links */
a {
  color: #7c3aed;
  text-decoration: none;
}

/* For mobile view */
@media screen and (max-width: 580px) {

  header h1,
  header .header {
    text-align: left;
  }

  header .avatar {
    width: 120px;
    height: 110px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
    float: left;
  }

  .header {
    margin-top: 0;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 0.1rem;
  }

  p {
    margin-top: 0.1rem;
  }
}

/* Desktop and above styles */
@media screen and (min-width: 581px) {
  body {
    max-width: 620px;
    /* Set maximum width for desktop to 620px */
  }

  article h2,
  article h3 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 1px;
  }

  article p {
    margin-top: 1px;
    /* This ensures the space between h2/h3 and p is consistent */
  }

  h1 {
    text-align: left;
  }

  .avatar {
    float: left;
    margin-right: 20px;
  }

  p.header {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 180px);
    margin-top: 0;
  }

  .header+article {
    clear: both;
  }


  /* Other styles as needed */
}